{% extends 'base.html' %}

{% block title %}Music List{% endblock %}

{% block content %}
<h1>Music List</h1>
<a href="{% url 'registration' %}">Add a new song</a>
<ul>
    {% for song in songs %}
        <li>
            {{ song.display_number }}: <a href="{{ song.url }}">{{ song.title }}</a> by {{ song.artist }}
            <br>
            <small>Added on: {{ song.created_at|date:"Y-m-d H:i:s" }}</small>
            <br>
            <a href="{% url 'detail' song.pk %}">Details</a>
            <a href="{% url 'delete' song.pk %}" style="color: red;">Delete</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
