{% extends 'base.html' %}

{% block title %}Song List{% endblock %}

{% block content %}
<h2>Song List</h2>

<form method="get" action="">
    <input type="text" name="query" value="{{ request.GET.query }}" placeholder="Search...">
    <select name="sort_by">
        <option value="title" {% if request.GET.sort_by == "title" %}selected{% endif %}>Title</option>
        <option value="artist" {% if request.GET.sort_by == "artist" %}selected{% endif %}>Artist</option>
    </select>
    <button type="submit">Search</button>
</form>

<a href="{% url 'create' %}"><button>Add New Song</button></a>

<ul>
    {% for song in songs %}
        <li>
            {{ song.number }}: {{ song.title }} - {{ song.artist }}
            <a href="{% url 'detail' song.pk %}">Details</a>
            <a href="{% url 'edit' song.pk %}">Edit</a>
            <a href="{% url 'delete' song.pk %}">Delete</a>
            <a href="{{ song.url }}" target="_blank" rel="noopener noreferrer">Video</a></p>
        </li>
    {% endfor %}
</ul>
{% endblock %}
